body, html{
	width: 100%;
	min-width: 300px;
	height: 100%;
	margin:0;
	padding:0;
	font-family: calibri;
}

img, embed, object, video, svg{
	max-width: 100%;
}

.container{
	/*box-sizing: border-box;*/
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto auto 1fr;
	grid-template-areas:
		"header"
		"main"
		"ingredients"
		"footer";
}

header{
	grid-area: header;
}

main{
	grid-area: main;
}

ul{
	grid-area: ingredients;
}

footer{
	grid-area: footer;
}




@media screen and (min-width: 550px){

	.container{
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr auto 1fr;
		grid-template-areas:
			"header header"
			"main ingredients"
			"footer footer";
	}
	
}

@media screen and (min-width: 1200px){
	/* add side margins over 1200px */
	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}